@import url(./reset.css);

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  color: var(--text-475467);
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

:root {
  --main-color: #101828;
  --button-color: #e44848;
  --button-hover-color: #d84343;
  --star-color: #ffc531;
  --text-color: #475467;
  --primary-white: #f7f7f7;
  --secondary-white: #f2f4f7;
  --text-white: #ffffff;
}
